
{% extends 'base.html' %}
{% block title %}About - {% endblock %}
{% block content %}
  <!-- explain what echo chamber is -->
  <h2>Here is a brief intro about Echo Chamber: </h2>
  <p>Echo chambers, i.e., situations where one is exposed only to opinions that agree with their own, are an increasing concern for the political discourse in many democratic countries.[1]</p>
  <p>There is growing concern that, as citizens become more polarized about political issues, they do not hear the arguments of the opposite side, but are rather surrounded by people and news sources who express only opinions they agree with. If echo chambers exist, then they might hamper the deliberative process in democracy.[1]</p>
  <h3>Some Definitions</h3>
  <p><span style="font-weight: bold">Production polarity. </span>For each user in the dataset, Garimella et al. estimated the political polarity score of their tweet content based on the domain that tweet quotes, using political leaning scores of each domain obtained from Bakshy et al. </p>
  <p><span style="font-weight: bold">Consumption polarity. </span>For each user in the dataset, Garimella et al. estimated the polarity score that a user receives on their feed from users they follow, similar to the calculation of production polarity. </p>
  <p><span style="font-weight: bold">Gatekeepers.</span> Users who are bipartisan consumers but partisan producers.</p>
  <h3>Current Findings</h3>
  <p>According to the research <span style="font-style: italic">Political Discourse on Social Media: Echo Chambers, Gatekeepers, and the Price of Bipartisanship.</span>, political echo chambers exist. In particular, the distribution of production and consumption polarities of users is clearly bi-modal, and the production and consumption polarities are highly correlated.[1]</p>
  <p></p>
  <hr>
  <p class="citation">[1] Kiran Garimella, Gianmarco De Francisci Morales, Aristides Gionis, and Michael Mathioudakis. 2018. Political Discourse on Social Media: Echo Chambers, Gatekeepers, and the Price of Bipartisanship. <span style="font-style: italic">In WWW 2018: The 2018 Web Conference, April 23–27, 2018, Lyon, France. </span>ACM, New York, NY, USA, 10 pages. https://doi.org/10.1145/3178876.3186139</p>
{% endblock %}