
{% extends 'base.html' %}
{% block title %}About - {% endblock %}
{% block content %}
  <!-- explain what echo chamber is -->
  <h2>What is an Echo Chamber?</h2>
  <p>In discussion of news media, an <span style="font-weight: bold">Echo chamber </span> refers to an environment where a person only encounters information or opinions that reflect and reinforce their own. Here, our project studies the phenomenon of political echo chambers in social media.</p>
  <p>There is an increasing concerns for the political discourse in many democratic countries that, as citizens become more polarized about political issues, they do not hear the arguments of the opposite side, but are rather surrounded by people and news sources who express only opinions they agree with. If echo chambers exist, then they might hamper the deliberative process in democracy. [1]</p>

  
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/Se20RoB331w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>


  <h3>Similar Concepts</h3>
  <p><span style="font-weight: bold">Filter Bubble </span> is a state of intellectual isolation that can result when a website algorithm selectively guesses what information a user would like to see based on information about user, such as location, past click-behavior and search history.</p>
  <p><span style="font-weight: bold">Homophily</span> is the tendency of individuals to associate with similar others. The presence of homophily has been detected in vast array of studies in complex networks and opinion dynamics. </p>
 

  <hr>
  <p class="citation">[1] Kiran Garimella, Gianmarco De Francisci Morales, Aristides Gionis, and Michael Mathioudakis. 2018. Political Discourse on Social Media: Echo Chambers, Gatekeepers, and the Price of Bipartisanship. <span style="font-style: italic">In WWW 2018: The 2018 Web Conference, April 23–27, 2018, Lyon, France. </span>ACM, New York, NY, USA, 10 pages. https://doi.org/10.1145/3178876.3186139</p>
{% endblock %}