
{% extends 'base.html' %}
{% block title %}More - {% endblock %}
{% block content %}
  <!-- clusterings based on polarity scores -->

  <h2>Here is what we've found out about Echo Chamber: </h2>
  <p>We asked the author of [1] for the dataset they used, and produced our own production scores and consumption scores after filtering the tweets with known user data and with quoted domains. </p>
  <p>We then checked the clusterings of the polarity scores we produced using the three types of graphs below: </p>
  <h3>Agglomerative Clustering</h3>
  {% include 'agglomerative.html' %}
  <h3>Spectral Clustering</h3>
  {% include 'spectral.html' %}
  <h3>Heatmap</h3>
  {% include 'heatmap.html' %}
  <p>With the heatmap, we can see that there are two clear clusterings! This indicates that the users we investigated are highly polarized.</p>
  <hr>

  <!-- clusterings based on network -->
  <h3>Network Analysis</h3>
  <p>We also created a network of twitter users in the dataset with NetworkX, used the modularity method to separate possible communities, and plotted it using Gephi.</p>
  <img src="{{url_for('static', filename='Network_Visualization.png')}}">
  <p>It's actually quite similar to the clustering we created using polarity scores!</p>
  <p>Takeaway: there's a strong correlation between the Twitter social network structures and derived polarity scores!</p>
  <hr>
  <p class="citation">[1] Kiran Garimella, Gianmarco De Francisci Morales, Aristides Gionis, and Michael Mathioudakis. 2018. Political Discourse on Social Media: Echo Chambers, Gatekeepers, and the Price of Bipartisanship. <span style="font-style: italic">In WWW 2018: The 2018 Web Conference, April 23–27, 2018, Lyon, France. </span>ACM, New York, NY, USA, 10 pages. https://doi.org/10.1145/3178876.3186139</p>

{% endblock %}