body {
  font-family: 'Open Sans', sans-serif;
  background-color: #60a9ff;
  display: flex;
  min-height: 100vh;
}

nav {
  padding: 0 30px;
  font-size: 1.5em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 30%;
  /* background-color: #5e95d6;
  border-radius: 20px; */
}

ul,
li {
  display: block;
  padding: 10px 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

p {
  font-family: 'Palatino', 'Georgia', 'Arial', sans-serif; 
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #cce4ff;
}

a:hover {
  color: white;
  transition: 0.1s;
}

#method {
  text-decoration: underline;
  font-style: bold;
  color: #1e5596;
}

#method:hover {
  color: #729fd4;
  transition: 0.1s;
}


.content {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;

  display: block;
}

.citation {
  font-size: 0.5em;
  color: grey;
}

h3 {
  margin-top: 50px;
}

div.container {
  display:inline-block;
}